<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chacon.joan.practica4" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hoteles"
            android:label="@string/title_activity_hoteles" >
        </activity>
        <activity
            android:name=".bares"
            android:label="@string/title_activity_bares" >
        </activity>
        <activity
            android:name=".turismo"
            android:label="@string/title_activity_turismo" >
        </activity>
        <activity
            android:name=".demografia"
            android:label="@string/title_activity_demografia" >
        </activity>
        <activity
            android:name=".about"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name=".caballoloco"
            android:label="@string/title_activity_caballoloco" >
        </activity>
        <activity
            android:name=".carnaval"
            android:label="@string/title_activity_carnaval" >
        </activity>
        <activity
            android:name=".lavuelta"
            android:label="@string/title_activity_lavuelta" >
        </activity>
        <activity
            android:name=".hotelpb"
            android:label="@string/title_activity_hotelpb" >
        </activity>
        <activity
            android:name=".ahm"
            android:label="@string/title_activity_ahm" >
        </activity>
        <activity
            android:name=".lamansion"
            android:label="@string/title_activity_lamansion" >
        </activity>
        <activity
            android:name=".laalpina"
            android:label="@string/title_activity_laalpina" >
        </activity>
        <activity
            android:name=".candilejas"
            android:label="@string/title_activity_candilejas" >
        </activity>
        <activity
            android:name=".iglesia"
            android:label="@string/title_activity_iglesia" >
        </activity>
        <activity
            android:name=".grecia"
            android:label="@string/title_activity_grecia" >
        </activity>
        <activity
            android:name=".puente"
            android:label="@string/title_activity_puente" >
        </activity>
    </application>

</manifest>
